<mat-toolbar color="primary" class="mat-elevation-z4">
  <div>
    Treinamento Redux
  </div>
  <div>
    Vendedor
    <mat-slide-toggle class="slide-toggle-margin" color="warn">
    </mat-slide-toggle>
    Comprador
  </div>
  <div>
    <button
      mat-raised-button
      matBadge="{{ qtdProdutosCarrinho$ | async }}"
      color="primary"
      matBadgePosition="before"
      matBadgeColor="accent"
      routerLink="/carrinho"
    >
      <span class="material-icons">
        shopping_cart
      </span>
    </button>
  </div>
</mat-toolbar>
