<mat-list *ngIf="!(carrinhoEstaVazio$ | async); else carrinhoEstaVazioTemplate">
  <ng-container *ngIf="carrinhoDeCompras$ | async as carrinhoDeCompras">
    <app-item-produto
      *ngFor="let item of carrinhoDeCompras.itens"
      [item]="item"
      (alterar)="alterar($event)"
    >
    </app-item-produto>
    <app-totalizador [carrinhoDeCompras]="carrinhoDeCompras"></app-totalizador>
  </ng-container>

  <app-acoes (concluirCompra)="concluirCompra()"></app-acoes>
</mat-list>
<ng-template #carrinhoEstaVazioTemplate>
  Seu carrinho de compras está vazio!
</ng-template>
