{{ produtos$ | async | json }}

<mat-card class="vitrine-card">
  <mat-card-header>
    <mat-card-title>Celular Topado</mat-card-title>
  </mat-card-header>
  <img
    src="https://www.casasbahia-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1189275827"
    class="vitrine-img"
  />
  <mat-card-content class="vitrine-card-content">
    <div>
      R$ 100,00
    </div>
    <div>
      <button mat-mini-fab color="warn" [matMenuTriggerFor]="beforeShop">
        <mat-icon class="add-course-btn" (click)="(null)">
          <span class="material-icons">
            add_shopping_cart
          </span></mat-icon
        >
      </button>
      <mat-menu #beforeShop="matMenu" xPosition="before">
        <button mat-menu-item>Item 1 eita poxa</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
  </mat-card-content>
</mat-card>
