<mat-card class="vitrine-card">
  <mat-card-header>
    <mat-card-title matTooltip="{{ produto.nome }}">{{
      produto.nome
    }}</mat-card-title>
  </mat-card-header>
  <div class="vitrine-content-img">
    <img src="{{ produto.img }}" class="vitrine-img" />
  </div>
  <mat-card-content class="vitrine-card-content">
    <div>{{ produto.preco | currency: "BRL" }}</div>
    <div>
      <button
        mat-mini-fab
        color="warn"
        [disabled]="produto.adicionadoAoCarrinho"
        (click)="add()"
      >
        <mat-icon
          class="add-course-btn"
          matTooltip="{{
            produto.adicionadoAoCarrinho
              ? 'Já adicionado'
              : 'Adicionar ao carrinho'
          }}"
        >
          <span class="material-icons">
            add_shopping_cart
          </span></mat-icon
        >
      </button>
    </div>
  </mat-card-content>
</mat-card>
