.mat-list-base .mat-list-item {
  text-decoration: none;
  display: block;
  height: 30px;
  width: 200px;
  font-size: 12px;
}

.desconto {
  margin-top: 50px;
  font-weight: 500;
  text-align: center;
}
.texto {
  color: #3f51b5;
}
.preco {
  font-size: 20px;
  color: #f44336;
}
